<html>
	<head>
			<link href="../css/styles.css" rel="stylesheet" />
	</head>
	<body>
		<form id="register" class="login-container">
				<div class="form-line">
						<label for="email">Email</label>
						<input type="email" id="email" name="email" placeholder="Email" />
				</div>
				<div class="form-line">
						<label for="name">Name</label>
						<input type="text" id="name" name="name" placeholder="Name" />
				</div>
				<div class="form-line">
						<label for="lastname">Lastname</label>
						<input type="text" id="lastname" name="lastname" placeholder="Lastname" />
				</div>
				<div class="form-line">
						<label for="password">Password</label>
						<input type="password" id="password" name="password" placeholder="Password" />
				</div>
				<button type="submit">Go</button>
		</form>
		<script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
		<script src="../js/class08.js"></script>
	</body>
</html>
